.DS_Store
*.gz
*.py
cast.txt
js_cast.txt
texty.txt
*_zaloha_*.html
*_zaloha_*.css
zalohy/
images/foto-hero copy.jpg
images/icf-member-badge (1).png
images/istockphoto-*.jpg
images/pawel-czerwinski-*.jpg
images/sergey-kotenev-*.jpg
